<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>

<!-- No need to pass in pageTitle param to invoked partial here.
The partial has already picked up the param value itself, from
the invocation back in server.js
{{> header pageTitle=pageTitle}} << Not needed
-->
{{> header }}

<h2>{{pageTitle}} non-partial</h2>
<p>welcomeMessage {{welcomeMessage}}</p>
<p>{{screamIt welcomeMessage}}</p>
<p>Home Page add'l. paragraph.</p>
<h3>Plus which ml</h3>
<div>
    <a href="/wrong-o">Click me wrong-o</a>
</div>
<div>
    <a href="/about">Click me about-o</a>
</div>

<!--  USE PARTIAL INSTEAD
<footer>
    <p>Copyright (c) 2016 (hey! almost {{currentYear}} + 1!)</p>
</footer>
-->
asdf
<!-- // {{> footer currentYear=currentYear}} / -->
{{> footer }}

</body>
</html>